* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --main-color: #f6f1eb;
  --main-color2: #f6f1eb;
  --main-black: #272626;
  --main-white: #fffcf7; 
  --main-display: #0c0c0c;
  --main-anchor: #92908d;
  background-color: var(--main-black);
  color: var(--main-white);
}

body[data-theme='light'] {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --main-color: #f6f1eb;
  --main-color2: #f6f1eb;
  --main-black: #272626;
  --main-white: #fffcf7; 
  --main-display: #0c0c0c; 
  
/* background-color: var(--main-black);
  color: var(--main-white); */
}

button {
  background-color: transparent;
}

input,
textarea {
  background-color: transparent;
}

a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 transparent;
  color: var(--main-anchor);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 1000px 0 0 0 transparent;
  color: var(--main-color2);
}

* {
  box-sizing: border-box;
}


.addContent {
}

#title {
  border: none;
  font-size: 50px;
  margin-left: 10px;
}

#content {
  border: none;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 30px;
}

.theme-btn-div {
  margin: 20px;
}

.theme-btn {
  cursor: pointer;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
