html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #333B3E;
  color: #B68FA2;
}

button {
  background-color: transparent;
}

input,
textarea {
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #B68FA2;
  color: #B68FA2;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 500px 0 0 0 #B68FA2;
  color: white;
}

* {
  box-sizing: border-box;
}

.postDiv {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.postTimeStamp {
  font-size: 15px;
  opacity: 0.5;
}

.postUl {
  /* 가운데 정렬 */
  margin-left: auto;
  margin-right: auto;
  display: table;

  padding: 0;
  text-align: left;
  width: auto;

}

.postLi {
  padding: 20px;
  list-style: none;
  font-size: 25px;
}


.postBtn {
  /* 생략 */
  padding: 5px 10px 5px 10px;
  margin:20px;
  font-size: 15px;
  font-weight: 400;
  color:#B68FA2;
  text-align: center;
  text-decoration: none;

  display: flex;
  width: auto;

  border-color: #B68FA2;
  border-radius: 10px;

  display: inline-block;

  /*addition*/
  margin-left: auto;

  cursor:pointer;
}

.postTitle {
  padding: 20px;

}

.createTimeInput {
  display: none;
}

.postSection {
  border-radius: 4px;
  background-color: #3E555E;
  padding: 20px;
  margin: auto;
  width: 80%;
  height: 100vh;
  font-size: 25px;
  text-align: left;
  color: rgba(0, 0, 0, 0.44);
  border: 2px solid #B68FA2;
}

.addContent {
  margin: 10px;
}

#title {
  border: none;
  font-size: 50px;
}

#content {
  border: none;
  font-size: 30px;
}

.addFooter {
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;

  background-color: #586F77;
  opacity: 0.3;
}

.backBtn {
    /* 생략 */
    margin: 10px;
    padding: 0.25rem 0.5rem;
  
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  
    display: flex;
    width: auto;
  
    border: none;
    border-radius: 4px;
  
    /*addition*/
    margin-right: 10px;
    margin-top: 10px;
    margin-left: auto;
}

.backAnchor {
  text-decoration: none;
  font-size:2rem;
  color: #B68FA2;
  padding:10px 20px 10px 20px;
  margin:20px;
  display:inline-block;
  border-radius: 10px;
  transition:all 0.1s;
  text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
  cursor:pointer;
}

.publishBtn {
    /* 생략 */
    padding:10px 20px 10px 20px;
    margin:20px;
    font-size: 2rem;
    font-weight: 400;
    color: #B68FA2;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
  
    display: flex;
    width: auto;
  
    border: none;
    border-radius: 10px;
  
    display: inline-block;
  
    /*addition*/
    margin-left: auto;
    margin-right: 10px;
    cursor:pointer;
}

.backDiv {
  float: left;
}

.publishBtn {
  float: right;
}

.deleteDiv {
  float: right;
}

.deleteAnchor {
  text-decoration: none;
  font-size:2rem;
  color: #B68FA2;
  padding:10px 20px 10px 20px;
  margin:20px;
  display:inline-block;
  border-radius: 10px;
  transition:all 0.1s;
  text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
  cursor:pointer;
}