
.post-div {
    text-align: center;
  }
  
.post-timestamp {
    font-size: 15px;
    opacity: 0.5;
}

.post-ul {
    /* 가운데 정렬 */
    margin-left: auto;
    margin-right: auto;
    display: table;

    padding: 0;
    text-align: left;
    width: 50%;

}

.post-li {
    padding: 20px;
    list-style: none;
    font-size: 25px;
}


.post-btn {
    /* 생략 */
    padding: 5px 10px 5px 10px;
    margin:20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-white);
    text-align: center;
    text-decoration: none;

    display: flex;
    width: auto;

    border-color: var(--main-white);
    border-radius: 10px;

    display: inline-block;

    /*addition*/
    margin-left: auto;

    cursor:pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.post-btn:hover {
    color: var(--main-color2);
    border-color: var(--main-color2);
    border-radius: 10px;

    display: inline-block;
    box-shadow: inset 1000px 0 0 0 transparent;
}

.post-title-div {
    padding: 20px;
    margin:auto;
    align-items: center;
}

.post-title {
    margin: auto;
    text-align: center;
    font-size: 50px;
}

.create-time-input {
    display: none;
}

.post-section {
    border-radius: 4px;
    padding: 20px;
    margin: auto;
    width: 768px;
    /* height: 100vh; */
    font-size: 25px;
    text-align: left;
    color: var(--main-white);
    /* border: 2px solid var(--main-color2); */
    background-color: var(--main-black);
}

@media (max-width: 1024px) {
    .post-section, .reply-div {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 768px) {
    .post-section, .reply-div {
        width: 100%
    }
}

.post-back-div {
    float: left;
  }

.post-back-anchor {
    text-decoration: none;
    font-size:2rem;
    padding:10px 20px 10px 20px;
    margin:20px;
    display:inline-block;
    border-radius: 10px;
    transition:all 1s;
    cursor:pointer;
}

.post-back-btn {
    /* 생략 */
    margin: 10px;
    padding: 0.25rem 0.5rem;
  
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  
    display: flex;
    width: auto;
  
    border: none;
    border-radius: 4px;
  
    /*addition*/
    margin-right: 10px;
    margin-top: 10px;
    margin-left: auto;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.post-delete-div {
    float: right;
}

.post-delete-anchor{
    text-decoration: none;
    font-size:2rem;
    padding:10px 20px 10px 20px;
    margin:20px;
    display:inline-block;
    border-radius: 10px;
    transition:all 1s;
    cursor:pointer;
}

.post-footer {
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 50%;
    padding-right: 20px;
  }

.post-publish-div {
    float: right;
}

.post-publish-tag {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid var(--main-color2);
    border-radius: 3rem;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
}

.tag-remove-btn {
    padding-left: 5px;
    color: var(--main-color2);
    cursor: pointer;
}

.post-publish-btn {
    /* 생략 */
    padding:10px 20px 10px 20px;
    margin:20px;
    font-size: 2rem;
    font-weight: 400;
    color:var(--main-white);
    text-align: center;
    text-decoration: none;
  
    display: flex;
    width: auto;
  
    border: none;
    border-radius: 10px;
  
    display: inline-block;
  
    /*addition*/
    margin-left: auto;
    margin-right: 10px;
    cursor:pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.post-publish-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-publish-btn:hover {
    color: var(--main-color2);
    border-color: var(--main-color2);
    border-radius: 10px;

    display: inline-block;
    box-shadow: inset 1000px 0 0 0 transparent;
}

.post-edit-div {
    float: right;
}

.post-edit-btn {
    /* 생략 */
    padding:10px 20px 10px 20px;
    margin:20px;
    font-size: 2rem;
    font-weight: 400;
    color:var(--main-white);
    text-align: center;
    text-decoration: none;
  
    display: flex;
    width: auto;
  
    border: none;
    border-radius: 10px;
  
    display: inline-block;
  
    /*addition*/
    margin-left: auto;
    margin-right: 10px;
    cursor:pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.post-edit-btn:hover {
    color: var(--main-color2);
    border-color: var(--main-color2);
    border-radius: 10px;

    display: inline-block;
    box-shadow: inset 1000px 0 0 0 transparent;
}

.post-publish-content {
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

.post-publish-title {
    color: var(--main-white);
    width: 100%;
    margin-right: 20px;
}

#title {
    color: var(--main-white);
    width: 100%;
    height: 70px;
    border: none;
    resize: none;
}

#title:focus {
    outline: none;
    color: var(--main-white);
}

.post-div-tag {
    height: 30px;
    margin-left: 10px;
}

#tag {
    outline: none;
    color: var(--main-white);
    border: none;
    resize: none;
    height: 17px;
    overflow: hidden;
    font-size: 15px;
}

#tag:focus {
    
}

.post-div-tag {
    height: 20px;    
    display: flex;
}

.post-span-tag {
    text-align: center;
}

#content {
    width: 100%;
    height: 100%;
    color: var(--main-white);
}

#content:focus {
    outline: none;
    color: var(--main-white);
}

.post-display-div {
    background-color: var(--main-display);
}

.post-display-div-title {
    padding-left: 20px;
}

.post-display-div-content {
    padding-left: 20px;
}

.post-tool {
    justify-content: flex-end;
    display: flex;
    width: 80%;
    padding-bottom: 10px;
    margin: auto;
}

.post-tool > a {
    cursor: pointer;
    opacity: 0.5;
    padding-left: 10px;
}

.reply-div {
    padding: 20px;
    margin: auto;
    width: 768px;

}

.reply-post-btn {
    /* 생략 */
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color:var(--main-white);
    text-align: center;
    text-decoration: none;

    display: flex;
    width: auto;
    float: right;
    border-color: var(--main-white);
    border-radius: 10px;

    display: inline-block;

    /*addition*/
    margin-left: auto;

    cursor:pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.reply-post-btn:hover {
    color: var(--main-color2);
    border-color: var(--main-color2);
    border-radius: 10px;

    display: inline-block;
    box-shadow: inset 1000px 0 0 0 transparent;
}



.reply-view-div {
    margin-top: 60px;
}

#commentInput {
    width: 100%;
    color: var(--main-white);
    border: none;
    background-color: var(--main-black);
    height: 60px;
    padding: 15px;
    background-color: var(--main-display);
}

.reply-ul {
    
    padding: 0;
    text-align: left;
    width: auto;

    /* border: 1px solid var(--main-color2); */
}

.reply-li {
    list-style-type: none;
    color: var(--main-white);
    font-size: 25px;
    border-bottom: 1px solid var(--main-color);
    padding: 20px;
}

.replyCreatedTime {
    font-size: 15px;
    opacity: 0.7;
}

.tag-div {
    height:max-content;
    width : 100%;
    font-size: 18px;
    text-align: left;
    padding-right: 10px;
    margin: 5px;
}

.tag-div > span {
    vertical-align: middle;
    text-align: right;
    margin-right: 10px;
    margin-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-bottom: 1px solid var(--main-color2);
    opacity: .7;
}

.tag-ul {
    width: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
    list-style-type: none;
    margin:20px; 
}

.tag-li {
   list-style-type: none;
   display: inline-block;
   margin-left: 10px;
   border: 1px solid var(--main-color2);
   border-radius: 3rem;
   padding-left: 8px;
   padding-right: 8px;
   font-size: 15px;
}


.tagAll-li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid var(--main-black);
    color: var(--main-color2);
    border-radius: 3rem;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
    cursor: pointer;
}

.tagAll-li .active {
    background-color: var(--main-color2);
    color: var(--main-white);
}




.tag-cnt {
    opacity: .5;
}